pipeline/ProcessAccessToSql.json
{
	"name": "ProcessAccessToSql",
	"properties": {
		"description": "Reads .mdb files directly from Embla, derives tblTrendlog table name from filename, and copies data to Azure SQL",
		"activities": [
			{
				"name": "GetMdbFileList",
				"description": "List all .mdb files in the blob folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobMdbFile",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.BlobContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.BlobDirectory",
								"type": "Expression"
							},
							"FileName": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterMdbFiles",
				"description": "Keep only .mdb files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMdbFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMdbFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.mdb')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachMdbFile",
				"description": "Process each .mdb file directly from Embla",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterMdbFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterMdbFiles').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyTrendlogToSql",
							"description": "Copy tblTrendlog data from Access to Azure SQL Trendlog table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:01:00",
								"retry": 2,
								"retryIntervalInSeconds": 10,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "@concat('SELECT * FROM [tbl', replace(item().name, '.mdb', ''), ']')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AccessTrendlogTable",
									"type": "DatasetReference",
									"parameters": {
										"MdbFilePath": {
											"value": "@concat(pipeline().parameters.SourcePath, '\\', item().name)",
											"type": "Expression"
										},
										"TableName": {
											"value": "@concat('tbl', replace(item().name, '.mdb', ''))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTrendlog",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "UpdateFileName",
							"description": "Set FileName for rows just inserted (where FileName is still NULL)",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "CopyTrendlogToSql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('UPDATE dbo.Trendlog SET FileName = ''', item().name, ''' WHERE FileName IS NULL')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "LogFailure",
							"description": "Handles copy failure so the ForEach continues to the next file",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyTrendlogToSql",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastFailedFile",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BlobContainer": {
				"type": "String",
				"defaultValue": "embla"
			},
			"BlobDirectory": {
				"type": "String",
				"defaultValue": "LiveData"
			},
			"SourcePath": {
				"type": "String",
				"defaultValue": "\\\\embla\\c$\\Alerton\\Compass\\2.0\\ALGAC\\ALGAC\\TrendlogData"
			}
		},
		"variables": {
			"LastFailedFile": {
				"type": "String",
				"defaultValue": ""
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-14T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}