pipeline/ProcessAccessToSql.json
{
	"name": "ProcessAccessToSql",
	"properties": {
		"description": "Downloads .mdb files from blob, reads tblTrendlog tables via ODBC, and copies data to Azure SQL",
		"activities": [
			{
				"name": "GetMdbFileList",
				"description": "List all .mdb files in the blob folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobMdbFile",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.BlobContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.BlobDirectory",
								"type": "Expression"
							},
							"FileName": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterMdbFiles",
				"description": "Keep only .mdb files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMdbFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMdbFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.mdb')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachMdbFile",
				"description": "Process each .mdb file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterMdbFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterMdbFiles').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DownloadMdbToLocal",
							"description": "Copy .mdb from blob to local temp folder on the IR machine",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BlobMdbFile",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.BlobContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.BlobDirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LocalTempMdbFile",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LookupTrendlogTables",
							"description": "Query MSysObjects to find tables starting with tblTrendlog",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DownloadMdbToLocal",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": "SELECT [Name] FROM [MSysObjects] WHERE [Type]=1 AND [Flags]=0 AND [Name] LIKE 'tblTrendlog%'"
								},
								"dataset": {
									"referenceName": "AccessTrendlogTable",
									"type": "DatasetReference",
									"parameters": {
										"MdbFilePath": {
											"value": "@concat(pipeline().parameters.LocalTempPath, '\\', item().name)",
											"type": "Expression"
										},
										"TableName": "MSysObjects"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "ForEachTrendlogTable",
							"description": "Copy each tblTrendlog table to Azure SQL",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "LookupTrendlogTables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('LookupTrendlogTables').output.value",
									"type": "Expression"
								},
								"isSequential": false,
								"activities": [
									{
										"name": "CopyTrendlogToSql",
										"description": "Copy tblTrendlog data from Access to Azure SQL Trendlog table",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.02:00:00",
											"retry": 1,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OdbcSource",
												"query": {
													"value": "@concat('SELECT * FROM [', item().Name, ']')",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "AccessTrendlogTable",
												"type": "DatasetReference",
												"parameters": {
													"MdbFilePath": {
														"value": "@concat(pipeline().parameters.LocalTempPath, '\\', item().name)",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().Name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqlTrendlog",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DeleteTempMdb",
							"description": "Clean up the temp .mdb file from the IR machine",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "ForEachTrendlogTable",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LocalTempMdbFile",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BlobContainer": {
				"type": "String",
				"defaultValue": "embla"
			},
			"BlobDirectory": {
				"type": "String",
				"defaultValue": "Compass2TrendlogsLive"
			},
			"LocalTempPath": {
				"type": "String",
				"defaultValue": "C:\\AdfTemp"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-13T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}