pipeline/ProcessAccessToSql_copy1.json
{
	"name": "ProcessAccessToSql_copy1",
	"properties": {
		"description": "Reads .mdb files directly from Embla, finds tblTrendlog tables via ODBC, and copies data to Azure SQL",
		"activities": [
			{
				"name": "GetMdbFileList",
				"description": "List all .mdb files in the blob folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobMdbFile",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.BlobContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.BlobDirectory",
								"type": "Expression"
							},
							"FileName": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterMdbFiles",
				"description": "Keep only .mdb files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMdbFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMdbFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.mdb')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachMdbFile",
				"description": "Process each .mdb file directly from Embla",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterMdbFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterMdbFiles').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LookupTrendlogTables",
							"description": "Query MSysObjects to find tables starting with tblTrendlog",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": "SELECT [Name] FROM [MSysObjects] WHERE [Type]=1 AND [Flags]=0 AND [Name] LIKE 'tblTrendlog%'"
								},
								"dataset": {
									"referenceName": "AccessTrendlogTable",
									"type": "DatasetReference",
									"parameters": {
										"MdbFilePath": {
											"value": "@concat(pipeline().parameters.SourcePath, '\\', item().name)",
											"type": "Expression"
										},
										"TableName": "MSysObjects"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BlobContainer": {
				"type": "String",
				"defaultValue": "embla"
			},
			"BlobDirectory": {
				"type": "String",
				"defaultValue": "LiveData"
			},
			"SourcePath": {
				"type": "String",
				"defaultValue": "\\\\embla\\c$\\Alerton\\Compass\\2.0\\ALGAC\\ALGAC\\TrendlogData"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-13T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}